.body_background 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
	border-color:darkviolet;
}

button{
    background-color:rgb(144, 187, 144);
}
#display_screen_width, #display_coords
{
    font-size: 30px;
    font-weight:bold;
    color:blue;
}